script(src='/alerts.js')
h2 Alerts
br
.table-responsive
  table.table.table-striped.table-sm
    thead
      tr
        th Peer
        th Triggered by
        th Message
        th Count
        th Created at
        th Updated at
        th
    tbody#alert-rows
      each alert in alerts
        tr(data-alert-id=alert.id)
          td= alert.accountId
          td= alert.triggeredBy
          td= alert.message
          td= alert.count
          td= alert.createdAt
          td= alert.updatedAt
          td
            button.btn.btn-danger.alert-dismiss(data-alert-id=alert.id) Dismiss
